.rdp-month_grid {
  width: 100% !important;
}

/* For Wave Effect */
@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.ripple {
  animation: ripple 1.5s ease-out infinite;
}

.ripple-delay {
  animation-delay: 0.3s;
}
